
a {
    color: #4169e1
}
#titlename {
    text-decoration: none;
}
/* images */
.demos {
    max-width:100%; max-height:100%;
}
.border {
    border: black
}
/* card */
.card {
    box-shadow: 5px 5px 6px #8888887c;
    transition: 0.3s;
    cursor: pointer
}
.card:hover {
    box-shadow: none;
    transition: 0.3s;
}
.card-link:hover{
    text-decoration: underline;
}
/* footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    /* position: fixed; */
}
.date {
    color: gray
}
.bordered-box {
    border: 1px solid #000000; /* Thin 1px border with black color */
    border-radius: 5px; /* Slightly rounded corners with a 5px radius */
    margin: 10px;
    padding: 5px
}