a {
    color: royalblue
}
#titlename {
    text-decoration: none;
}

/* card */
.card {
    box-shadow: 5px 5px 6px #8888887c;
}
.card {}
/* footer */
footer {
    bottom: 0;
    position: fixed;
}
.date {
    color: gray
}
