a {
    color: #4169e1
}
#titlename {
    text-decoration: none;
}

/* card */
.card {
    box-shadow: 5px 5px 6px #8888887c;
    transition: 0.3s;
}
.card:hover {
    box-shadow: none;
    transition: 0.3s;
}

/* footer */
footer {
    bottom: 0;
    position: fixed;
}
.date {
    color: gray
}
